.semselection-container {
    padding: 20px; /* Add padding to the container */
  }
  
  /* Style the label */
  .semselection-container label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Color for the label */
  }
  
  body{
    background-color: #E6E6E6;
  }
  /* Style the select element */
  .semselection-container select {
    width: 60%; /* Make the select element full-width */
    padding: 10px; /* Add padding to the select element */
    border-radius: 5px; /* Add some border radius for rounded corners */
    border: 1px solid #ccc; /* Add a border */
    background-color: #fff; /* Background color for the select */
    color: #333; /* Text color for the select */
  }
  
  /* Style the option elements */
  .semselection-container option {
    background-color: #f0f0f0; /* Background color for options */
    color: #333; /* Text color for options */
  }
  
  /* Style the tabs */
  .chakra-tabs {
    margin-top: 20px; /* Add margin above the tabs */
  }
  
  /* Style the tab list */
  .chakra-tab-list {
    background-color: #596dce; /* Background color for tab list */
    padding: 10px; /* Add padding to the tab list */
    border-radius: 5px; /* Add some border radius for rounded corners */
  }
  
  /* Style the tabs */
  .chakra-tab {
    color: #fff; /* Text color for tabs */
    background-color: #333; /* Background color for tabs */
    padding: 10px; /* Add padding to the tabs */
    border-radius: 5px; /* Add some border radius for rounded corners */
    margin-right: 10px; /* Add margin between tabs */
  }
  
  /* Style the tab panels */
  .chakra-tab-panel {
    padding: 20px; /* Add padding to the tab panels */
  }
  